<!DOCTYPE html>
<html>
 
<head>
    <title>Farming App</title>
 
    <link href="static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet"><!-- Latest compiled and minified CSS -->

    <style>
        .header > a :hover {
            color: #000;
        }
        table {
            width:100%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }
        table#t01 tr:nth-child(odd) {
           background-color:#fff;
        }
        table#t01 th    {
            background-color: black;
            color: white;
        }
    </style>
 
</head>
 
<body>

    <div class="col-lg-12 col-md-12 col-sm-12">


        <div class="jumbotron" style="">
            
            <h2> Crop Recommendation - Evaluation </h2>

            <form action="/evaluation" method="post">
                <h4 style="padding-bottom: 15px"> <span style="padding-right: 15px" >Cost weightage : </span>
                <select name="cost" id="cost" style="margin-top: 20px;">
                        <option value="0.3"> 1/3 </option>
                        <option value="0.5"> 0.5 </option>
                </select>
                </h4>
                <p><input class="btn btn-success" type="submit" value="Evaluate" style="padding:5px 10px; font-size: 18px">
                </p>
            </form>

        </div>

        <h3> Individual crop report </h3>
        <table id="t01">
            {%- for row in c -%}
                <tr>
                    {%- for ro in row -%}
                        {%- if row == c[0] or ro == row[0] -%}

                            <td style="padding: 10px; ">
                                <b>
                                   {{ ro }}
                                </b>
                            </td>

                        {%- else -%}

                            <td style="padding: 10px">
                               {{ ro }}
                            </td>

                        {%- endif %}
                    {%- endfor -%}
                </tr>
            {%- endfor -%}
        </table>

        <div class="jumbotron" style="margin-top:30px">
            
            <h3> Accuracy score </h3>
            <p>{{ acc_score }}</p>

            <h3> Precision </h3>
            <p>{{ p }}</p>
            
            <h3> Recall </h3>
            <p>{{ r }}</p>
            
            <h3> F score </h3>
            <p>{{ f }}</p>

        </div>

        <h3> Confusion Matrix </h3>
        <table id="t01">
            {%- for row in confusion -%}
                <tr>
                    {%- for ro in row -%}
                        {%- if row == confusion[0] or ro == row[0] -%}

                            <td style="padding: 10px; ">
                                <b>
                                   {{ ro }}
                                </b>
                            </td>

                        {%- else -%}

                            <td style="padding: 10px">
                               {{ ro }}
                            </td>

                        {%- endif %}
                    {%- endfor -%}
                </tr>
            {%- endfor -%}
        </table>

        </div>
        </div>
        
    </div>
</body>

<footer class="footer text-center col-lg-12 col-md-12 col-sm-12" style="padding:20px">
    <p>&copy; Aadithya U, Anushya S, Balalakshmi N</p>
</footer>
 
 
</html>